@page "/teams"
@using SkillzMatrix.Shared
@using SkillzMatrix.Services
@inject TeamService teamService

<h1>Teams</h1>

@if (teams == null)
{
    <Spinner></Spinner>
}
else
{
    <div class="row">
        <div class="col-md-12">
            Filter by name:
        </div>
        <div class="col-md-12 mb-3">
            <input type="text" @bind-value="@Name" @bind-value:event="oninput" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <table class="table table-hover table-striped fixed-table-body">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var team in teams.Where(x => x.TeamName.ToLower().Contains(Name.ToLower())))
                    {
                        <tr>
                            <td>@team.Id</td>
                            <td>@team.TeamName</td>
                            <td>@team.Description</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

@code {
    TeamModel[] teams;

    string Name { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        teams = await teamService.GetAllTeamsAsync();
    }
}
